@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">World DB</h1>
    <p>A reference site for countries, characters, and species.</p>
</div>
