@page
@model WorldDb.Pages.Characters.IndexModel
@{
    ViewData["Title"] = "Characters";
}

<h1>Characters</h1>

@if (Model.Characters.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Origin</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var character in Model.Characters)
            {
                <tr>
                    <td><a asp-page="Details" asp-route-slug="@character.Slug">@character.Name</a></td>
                    <td>@character.Description</td>
                    <td>@character.Origin</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No characters found.</p>
}
